html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#wh, #rwh {
  font-size: 12px;
}
.flexm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  max-height:100%;
  height: inherit;
  margin: 0;
}
#preview {
  margin:1px;
  display: block;
  max-width:100%;
  max-height:100%;
  width:100%;
  height:100%;
  z-index : -1;
}
.divform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  overflow: auto;
  max-width: 20%;
  max-height: 100%;
  margin: 0;
  padding-left: 4px;
  padding-top: 4px;
}
.divimg {
  max-width: 80%;
  max-height: 100%;
  margin: 0;
  width:inherit;
  height:inherit;
}
.divdir{
  overflow: auto;
  -webkit-overflow: auto;
  height: auto;
  margin-bottom: 10px;
}
.delBtn{
  height:20px;
  width:22px;
  padding: 0;
}
.rec{
  position:relative;
  top:0px;
  left:0px;
  width:0px;
  height:0px;
  border:2px solid #ffffff;
  background-color:transparent;
}
.menuitem{
  display:none;
}
.cropinpt{
  display:none;
}
.resinpt{
  width:20%;
}
.coninpt{
  width:30%;
}
.matrixinpt{
  width:17%;
}
.newfileextinpt{
  width: 25%;	
}
.newfilenameinpt{
  width:65%;
}
/*FF*/
.colr::-moz-range-progress{background-color:#aa1111 ; }
.colr::-moz-range-track{background-color: #43e5f7;}
.colg::-moz-range-progress{background-color:#11aa11 ; }
.colg::-moz-range-track{background-color: #43e5f7;}
.colb::-moz-range-progress{background-color:#1111aa ; }
.colb::-moz-range-track{background-color: #43e5f7;}
/*IE*/
.colr::-ms-fill-lower{background-color: #aa1111; }
.colr::-ms-fill-upper{background-color: #43e5f7;}
.colg::-ms-fill-lower{background-color: #11aa11; }
.colg::-ms-fill-upper{background-color: #43e5f7;}
.colb::-ms-fill-lower{background-color: #1111aa; }
.colb::-ms-fill-upper{background-color: #43e5f7;}
/*Chrome*/
.colr{background-color: #aa1111;}
.colr::-webkit-slider-runnable-track{color: #9a905d;}
.colr::-webkit-slider-thumb{background: #434343;}
.colg{background-color: #11aa11;}
.colg::-webkit-slider-runnable-track{color: #9a905d;}
.colg::-webkit-slider-thumb{background: #434343;}
.colb{background-color: #1111aa;}
.colb::-webkit-slider-runnable-track{color: #9a905d;}
.colb::-webkit-slider-thumb{background: #434343;}
#flexmenuheader{}
#flexmenubody{}
#flexmenuresult{}
#flexmenulistdir{
  flex-grow: 1;
}
.flexmenu{
}
hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 2px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 2px solid #aaaaaa;
  border-bottom: 2px solid #ffffff;
}